<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>vector</key>
		<dict>
			<key>Definition</key>
			<string>A quantity having direction as well as magnitude, especially as determining the position of one point in space relative to another.</string>
		</dict>
		<key>metal</key>
		<dict>
			<key>Definition</key>
			<string>Apple&apos;s low-level API for computer graphics.</string>
		</dict>
		<key>arkit</key>
		<dict>
			<key>Definition</key>
			<string>Apple&apos;s high-level framework for Augmented Reality. ✨</string>
			<key>Title</key>
			<string>ARKit</string>
		</dict>
		<key>jardincito</key>
		<dict>
			<key>Definition</key>
			<string>A tiny garden.</string>
		</dict>
		<key>bogota</key>
		<dict>
			<key>Definition</key>
			<string>Bogotá is the capital of Colombia 🇨🇴. Embedded in the middle of the Andes mountain range, Bogotá is the world&apos;s highest megalopolis, at almost 10 000 feet above sea level.</string>
			<key>Title</key>
			<string>Bogotá</string>
		</dict>
		<key>opengl</key>
		<dict>
			<key>Definition</key>
			<string>A low-level API for rendering interactive 3D vector graphics.</string>
		</dict>
		<key>ar</key>
		<dict>
			<key>Definition</key>
			<string>Augmented Reality.</string>
		</dict>
	</dict>
</dict>
</plist>
